@import "tailwindcss";

:root {
  --text-primary: #040f1f;
  --cta:var(--text-primary);
}

.marquee-container {
  overflow: clip;
  width: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  min-width: 100%;
  
}
.marquee {
  display: flex;
  width: max-content;
  animation: marquee-animation 25s linear infinite;
}

.h1 {
  font-weight: 600;
  color: #040f1f;
  line-height: 1.25;
}


@keyframes marquee-animation {
  to {
    transform: translateX(-50%);
  }
}
